.inner{
    max-width: 400px;
}

.title{
    font-size: 22px;
}

.text{
    font-size: 16px;
    margin-bottom: 16px;
}

.resendEmail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.resendText{
    font-size: 12px;
    margin-right: 16px;
}

.resendBtnSend{
    font-size: 12px;
    color: #0B9CFF;
    cursor: pointer;
}